
[[processors.enum]]
  [[processors.enum.mapping]]
    ## Name of the field to map
    field = "session_state"

    [processors.enum.mapping.value_mappings]
      ESTABLISHED = 1
      ACTIVE = 2
      CONNECT = 3
      IDLE = 4

[[processors.enum]]
  [[processors.enum.mapping]]
    ## Name of the field to map
    field = "state/oper_status"
    [processors.enum.mapping.value_mappings]
      UP = 1
      DOWN = 2

  [[processors.enum.mapping]]
    field = "state/admin_status"
    [processors.enum.mapping.value_mappings]
      UP = 1
      DOWN = 2

